:root {
  --clr-dark: #191a1b;
  --clr-light: #fafafa;
  --clr-slate400: #b7c1c2;
  --clr-slate600: #6b7274;
  --clr-slate800: #464a4c;
  --clr-rose: #f44336;
  --clr-indigo: #3f51b5;

  /* rose rgb(244, 67, 54) */
  /* indigo rgb(63, 81, 181) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: cal(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #191a1b;
  --clr-dark: #fafafa;
  --clr-slate400: #464a4c;
  --clr-slate600: #464a4c;
  --clr-slate800: #464a4c;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-indigo);
  outline: 1px solid var(--clr-indigo);
}