:root {
  /* colors */
  --clr-dark    : #052011;
  --clr-light   : #ffebd2;
  --clr-slate400: #ffa354;  /* <h> */
  --clr-slate600: #af4f41;  /* <p> */
  --clr-button  : #7aacb3;
  --clr-strong  : #fc7643;

  /* sizes */
  --size-xxs : 0.5rem;
  --size-xs  : 0.75rem;
  --size-sm  : 0.875rem;
  --size-base: 1rem;
  --size-lg  : 1.125rem;
  --size-xl  : 1.25rem;
  --size-2xl : 1.5rem;
  --size-3xl : 1.875rem;
  --size-4xl : 2.25rem;
  --size-5xl : 3rem;
  --size-6xl : 3.75rem;
  --size-7xl : 4.5rem;
  --size-8xl : 6rem;
  --size-9xl : 8rem;
  --size-10xl: 10rem;
}

* {
  margin     : 0;
  line-height: cal(1em + 0.5rem);
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light   : #052011;
  --clr-dark    : #ffebd2;
  --clr-slate400: #67797b;  /* <h> */
  --clr-slate600: #052011;  /* <p> */
  --clr-button  : #c72b40;
  --clr-strong  : #054342;
}

body {
  font-family     : 'Chillax', sans-serif;
  background-color: var(--clr-dark);
  color           : var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display    : block;
  max-width  : 100%;
}

button {
  display   : inline-block;
  padding   : 0;
  border    : none;
  background: none;
  cursor    : pointer;
  color     : inherit;
}

a {
  color: var(--clr-button);
}

strong {
  color: var(--clr-strong);
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-button);
  outline         : 1px solid var(--clr-button);
}